.emptyList {
  font-weight: 700;
  font-size: 80px;
  margin-top: 150px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .emptyList {
    font-size: 40px;
    margin-top: 200px;
  }
}
