.restaurantCard {
  border: 1px solid black;
  width: 300px;
  height: 350px;

  & a {
    text-decoration: none;
    color: black;
  }

  &_photo {
    img {
      width: 300px;
      height: 150px;
      object-fit: cover;
    }
  }

  &_info {
    div {
      padding: 5px;
    }
  }
}
