.bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px 0px 10px;
  border-bottom: 1px solid rgb(199, 193, 193);

  &_search {
    margin: auto 0;
    display: flex;
    gap: 20px;

    input {
      border: hidden;
      border-right: 1px solid black;
    }

    input:focus {
      outline: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.212);
      border-right: none;
    }
  }

  &_filters {
    display: flex;
    padding: 15px;
    gap: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .bar {
    padding: 10px 10px;

    &_search {
      svg {
        margin: auto;
      }
    }
    &_filters {
      display: none;
      padding-top: 5px;
    }
  }
}
