.reservationForm {
  display: grid;
  width: 100%;

  &_title {
    margin: auto;
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 300;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.505);
    color: blue;
  }

  &_form {
    display: grid;
    gap: 15px;
    margin: 10px;
    padding: 20px;

    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 8px;
  }
}
